.space20 {
	height: 20px;
}
.tabbable table tbody tr {
	cursor: pointer;
}
.nav-tabs>li>span {
	margin-right: 2px;
	line-height: 1.428571429;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
}
.nav>li>span {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.nav-tabs>li.active>span, .nav-tabs>li.active>span:hover, .nav-tabs>li.active>span:focus {
	color: #555;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.nav>li>span:hover, .nav>li>span:focus {
	background-color: #eee;
}